.about {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .about__item__line {
    width: 100%;
    background: var(--special-color);
    height: 3px;
    display: inline-block;
  }
  .about-title-container{
    margin: 5rem 0rem;
  }
  .about__description {
    width: 50%;
    height: 100%;
    display: flex;
  }

  .about__item__description__special-line{
    width: 3rem;
    height: 3px;
    display: block;
    margin: 2rem auto;
  }
.about__item__description__subtitle{
  color: var(--special-color);
  margin-bottom: 1rem;
  text-align: left;
  text-transform: capitalize;
}
  @media(max-width: 1000px){
    .about{
      flex-direction: column;
      height: auto;
  
    }
    .about__item__description-container {
      width: auto;
    }
    .about__item__description{
      margin-bottom: 8rem;
    }
  }
  @media(max-width: 768px){
    .about{
      padding: 0rem 1rem;
    }
  }